<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="3_activities_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".ThirdActivity"
            android:label="Activity 3" />
        <activity
            android:name=".SecondActivity"
            android:label="Activity 2" />
        <activity
            android:name=".FourthActivity"
            android:label="Activity Recycler View"/>
    </application>

</manifest>