<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.secondapp_recyclerview">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecondApp_recyclerView"
        android:usesCleartextTraffic="false">
        <activity android:name=".BookEditActivity"
            android:label="Edit book data"></activity>
        <activity
            android:name=".ImageGalleryActivity"
            android:label="Image gallery" />
        <activity
            android:name=".ImageActivity"
            android:label="Image upload to firebase storage" />
        <activity
            android:name=".FirebaseActivity"
            android:label="Login with firebase" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register into room" />
        <activity
            android:name=".LoginActivity"
            android:label="Login with Room" />
        <activity
            android:name=".RoomActivity"
            android:label="Add to database" />
        <activity
            android:name=".BottomNavigationActivity"
            android:label="Book's world" />
        <activity
            android:name=".FilesActivity"
            android:label="Add to file" />
        <activity
            android:name=".PreferedRefActivity"
            android:label="Add to shared preferences" />
        <activity
            android:name=".SecondActivity"
            android:label="List operations" />
        <activity
            android:name=".MainActivity"
            android:label="Books app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>